Repository capstone-moa/moa, pull requests merged in 2023-08, with the labels that each got.

#83 회원가입, 로그인 페이지 추가 및 front 창 사이즈 조절
  src/main/resources/static/css/community.css
  src/main/resources/static/css/group_management_issue.css
  src/main/resources/static/css/group_notice.css
  src/main/resources/static/css/group_notice_write.css
  src/main/resources/static/css/join.css
  src/main/resources/static/css/login.css
  src/main/resources/static/css/main.css
  src/main/resources/static/css/mypage_activity.css
  src/main/resources/static/css/mypage_group.css
  src/main/resources/static/css/team.css
  src/main/resources/templates/auth/join.html
  src/main/resources/templates/auth/login.html
  src/main/resources/templates/group/group_management_issue.html
  src/main/resources/templates/group/group_notice.html
  src/main/resources/templates/group/group_notice_write.html
  src/main/resources/templates/mypage/mypage_activity.html
  src/main/resources/templates/mypage/mypage_group.html
  src/main/resources/templates/post/community.html
  src/main/resources/templates/post/main.html
Labels: refactor, fe, member

#88 인증/인가 적용 (글 작성, 그룹 초대, 그룹 관리, 그룹 생성, 그룹 공지 작성) + 헤더 통일
  src/main/java/com/capstone/moa/config/SecurityConfig.java
  src/main/java/com/capstone/moa/controller/MypageMvcController.java
  src/main/java/com/capstone/moa/controller/PostMvcController.java
  src/main/java/com/capstone/moa/controller/api/GroupController.java
  src/main/java/com/capstone/moa/controller/api/InvitationController.java
  src/main/java/com/capstone/moa/controller/api/NoticeController.java
  src/main/java/com/capstone/moa/controller/api/PostController.java
  src/main/java/com/capstone/moa/dto/CreateGroupRequest.java
  src/main/java/com/capstone/moa/dto/InviteGroupRequest.java
  src/main/java/com/capstone/moa/dto/TokenResponse.java
  src/main/java/com/capstone/moa/dto/WriteNoticeRequest.java
  src/main/java/com/capstone/moa/dto/WritePostRequest.java
  src/main/java/com/capstone/moa/repository/GroupMemberRepository.java
  src/main/java/com/capstone/moa/service/GroupService.java
  src/main/java/com/capstone/moa/service/InvitationService.java
  src/main/java/com/capstone/moa/service/NoticeService.java
  src/main/java/com/capstone/moa/service/PostService.java
  src/main/resources/templates/common/header.html
  src/main/resources/templates/mypage/mypage_group.html
  src/main/resources/templates/mypage/mypage_group_write.html
  src/main/resources/templates/post/community.html
  src/main/resources/templates/post/search.html
  src/main/resources/templates/post/team.html
  src/main/resources/templates/post/view.html
  src/main/resources/templates/post/write.html
Labels: refactor, be, fe, post, member, group, invite, notice

#91 헤더 회원/비회원, 회원가입, 로그인 마이페이지_그룹 front 수정
  src/main/resources/static/css/join.css
  src/main/resources/static/css/login.css
  src/main/resources/static/css/main.css
  src/main/resources/templates/auth/join.html
  src/main/resources/templates/auth/login.html
  src/main/resources/templates/common/header.html
  src/main/resources/templates/mypage/mypage_group.html
Labels: fe

#93 게시판, 마이페이지 상단 헤더 고정 구현
  build.gradle
  src/main/resources/static/css/community.css
  src/main/resources/static/css/header.css
  src/main/resources/static/css/mypage_activity.css
  src/main/resources/static/css/mypage_group.css
  src/main/resources/static/css/mypage_group_write.css
  src/main/resources/static/css/mypage_modify.css
  src/main/resources/static/css/search.css
  src/main/resources/static/css/team.css
  src/main/resources/static/css/view.css
  src/main/resources/static/css/write.css
  src/main/resources/templates/common/header.html
  src/main/resources/templates/common/layout.html
  src/main/resources/templates/mypage/mypage_activity.html
  src/main/resources/templates/mypage/mypage_group.html
  src/main/resources/templates/mypage/mypage_group_write.html
  src/main/resources/templates/mypage/mypage_modify.html
  src/main/resources/templates/post/community.html
  src/main/resources/templates/post/main.html
  src/main/resources/templates/post/search.html
  src/main/resources/templates/post/team.html
  src/main/resources/templates/post/view.html
  src/main/resources/templates/post/write.html
Labels: fe

#95 회원 정보 수정 MVC 구현
  src/main/java/com/capstone/moa/controller/MypageMvcController.java
  src/main/java/com/capstone/moa/dto/FindMemberInfoResponse.java
  src/main/java/com/capstone/moa/dto/ModifyMemberRequest.java
  src/main/java/com/capstone/moa/dto/UserDetailsImpl.java
  src/main/java/com/capstone/moa/entity/Member.java
  src/main/java/com/capstone/moa/service/AuthService.java
  src/main/java/com/capstone/moa/service/MemberService.java
  src/main/resources/static/css/mypage_modify.css
  src/main/resources/templates/common/header.html
  src/main/resources/templates/common/layout.html
  src/main/resources/templates/mypage/mypage_activity.html
  src/main/resources/templates/mypage/mypage_group.html
  src/main/resources/templates/mypage/mypage_modify.html
Labels: be, fe, member

#98 그룹 공지 작성&삭제 기능 구현 / 그룹 소개 수정 기능 리팩토링
  src/main/java/com/capstone/moa/controller/GroupMvcController.java
  src/main/java/com/capstone/moa/controller/NoticeMvcController.java
  src/main/java/com/capstone/moa/controller/ProjectMvcController.java
  src/main/java/com/capstone/moa/controller/api/GroupController.java
  src/main/java/com/capstone/moa/controller/api/LinkController.java
  src/main/java/com/capstone/moa/controller/api/NoticeController.java
  src/main/java/com/capstone/moa/dto/GroupIntroResponse.java
  src/main/java/com/capstone/moa/dto/ModifyGroupIntroRequest.java
  src/main/java/com/capstone/moa/dto/WriteNoticeRequest.java
  src/main/java/com/capstone/moa/entity/Group.java
  src/main/java/com/capstone/moa/entity/Link.java
  src/main/java/com/capstone/moa/repository/GroupMemberRepository.java
  src/main/java/com/capstone/moa/repository/LinkRepository.java
  src/main/java/com/capstone/moa/service/GroupService.java
  src/main/java/com/capstone/moa/service/LinkService.java
  src/main/java/com/capstone/moa/service/NoticeService.java
  src/main/resources/static/css/group_intro.css
  src/main/resources/static/css/group_intro_modify.css
  src/main/resources/static/css/group_notice.css
  src/main/resources/templates/group/group_intro.html
  src/main/resources/templates/group/group_intro_modify.html
  src/main/resources/templates/group/group_management_issue.html
  src/main/resources/templates/group/group_notice.html
  src/main/resources/templates/group/group_notice_write.html
  src/main/resources/templates/mypage/mypage_activity.html
  src/main/resources/templates/mypage/mypage_group.html
  src/main/resources/templates/mypage/mypage_group_write.html
Labels: feature, be, fe, group, notice

#100 그룹 일정 등록/조회 기능 구현
  src/main/java/com/capstone/moa/controller/CalendarMvcController.java
  src/main/java/com/capstone/moa/dto/CreateEventRequest.java
  src/main/java/com/capstone/moa/dto/FindEventsByGroupResponse.java
  src/main/java/com/capstone/moa/entity/Event.java
  src/main/java/com/capstone/moa/entity/Group.java
  src/main/java/com/capstone/moa/repository/EventRepository.java
  src/main/java/com/capstone/moa/repository/GroupMemberRepository.java
  src/main/java/com/capstone/moa/service/EventService.java
  src/main/resources/static/css/calendar.css
  src/main/resources/templates/auth/join.html
  src/main/resources/templates/auth/login.html
  src/main/resources/templates/group/calendar.html
  src/main/resources/templates/group/group_intro.html
  src/main/resources/templates/group/group_intro_modify.html
  src/main/resources/templates/group/group_management_file.html
  src/main/resources/templates/group/group_management_issue.html
  src/main/resources/templates/group/group_notice.html
Labels: feature, be, fe, calendar

#102 게시판 검색 기능 구현
  build.gradle
  src/main/java/com/capstone/moa/config/QuerydslConfig.java
  src/main/java/com/capstone/moa/controller/PostMvcController.java
  src/main/java/com/capstone/moa/dto/SearchPostRequest.java
  src/main/java/com/capstone/moa/repository/PostRepository.java
  src/main/java/com/capstone/moa/repository/PostRepositoryCustom.java
  src/main/java/com/capstone/moa/repository/PostRepositoryCustomImpl.java
  src/main/java/com/capstone/moa/service/PostService.java
  src/main/resources/templates/common/header.html
  src/main/resources/templates/post/search.html
Labels: feature, be, fe, post

#104 게시글 수정/삭제/댓글 작성 MVC 구현
  src/main/java/com/capstone/moa/config/SecurityConfig.java
  src/main/java/com/capstone/moa/controller/CommentMvcController.java
  src/main/java/com/capstone/moa/controller/PostMvcController.java
  src/main/java/com/capstone/moa/controller/api/CommentController.java
  src/main/java/com/capstone/moa/controller/api/PostController.java
  src/main/java/com/capstone/moa/dto/FindPostWithCommentsResponse.java
  src/main/java/com/capstone/moa/dto/ModifyPostRequest.java
  src/main/java/com/capstone/moa/dto/PostDetailResponse.java
  src/main/java/com/capstone/moa/dto/WriteCommentRequest.java
  src/main/java/com/capstone/moa/service/CommentService.java
  src/main/java/com/capstone/moa/service/PostService.java
  src/main/resources/templates/post/modify.html
  src/main/resources/templates/post/search.html
  src/main/resources/templates/post/view.html
Labels: feature, be, fe, post, comment
