Repository capstone-moa/moa, pull requests merged in 2023-09, with the labels that each got.

#109 그룹 이슈 등록, 조회 기능 MVC 구현
  src/main/java/com/capstone/moa/controller/ProjectMvcController.java
  src/main/java/com/capstone/moa/dto/FindIssueResponse.java
  src/main/java/com/capstone/moa/dto/GroupInfoResponse.java
  src/main/java/com/capstone/moa/dto/WriteIssueRequest.java
  src/main/java/com/capstone/moa/entity/Issue.java
  src/main/java/com/capstone/moa/repository/GroupMemberRepository.java
  src/main/java/com/capstone/moa/repository/IssueRepository.java
  src/main/java/com/capstone/moa/service/GroupService.java
  src/main/java/com/capstone/moa/service/IssueService.java
  src/main/java/com/capstone/moa/service/PostService.java
  src/main/resources/templates/common/header.html
  src/main/resources/templates/group/calendar.html
  src/main/resources/templates/group/group_intro.html
  src/main/resources/templates/group/group_intro_modify.html
  src/main/resources/templates/group/group_issue_write.html
  src/main/resources/templates/group/group_management_file.html
  src/main/resources/templates/group/group_management_issue.html
  src/main/resources/templates/group/group_notice.html
Labels: be, fe, issue

#111 그룹 보고서(파일) 등록/조회/다운로드/삭제 기능 구현
  src/main/java/com/capstone/moa/controller/ProjectMvcController.java
  src/main/java/com/capstone/moa/dto/DownLoadFileResponse.java
  src/main/java/com/capstone/moa/dto/FindReportFileResponse.java
  src/main/java/com/capstone/moa/dto/UploadFileRequest.java
  src/main/java/com/capstone/moa/entity/ReportFile.java
  src/main/java/com/capstone/moa/repository/GroupMemberRepository.java
  src/main/java/com/capstone/moa/repository/ReportFileRepository.java
  src/main/java/com/capstone/moa/service/GroupService.java
  src/main/java/com/capstone/moa/service/ReportFileService.java
  src/main/java/com/capstone/moa/utils/FileUtils.java
  src/main/resources/application.yml
  src/main/resources/templates/group/group_file_write.html
  src/main/resources/templates/group/group_management_file.html
  src/main/resources/templates/group/group_notice.html
Labels: feature, be, fe, group, report file

#114 front_group
  src/main/resources/static/css/group_intro.css
  src/main/resources/static/css/group_intro_modify.css
  src/main/resources/static/css/group_management_file.css
  src/main/resources/static/css/group_notice.css
  src/main/resources/templates/auth/join.html
  src/main/resources/templates/group/group_issue_view.html
  src/main/resources/templates/group/group_management_file.html
  src/main/resources/templates/group/group_management_issue.html
  src/main/resources/templates/group/group_notice.html
  src/main/resources/templates/group/group_notice_write.html
Labels: fe, group

#115 회원 아이디(이메일), 그룹 이름 중복 검사 기능, 그룹 삭제 기능 구현
  src/main/java/com/capstone/moa/config/SwaggerConfig.java
  src/main/java/com/capstone/moa/controller/AuthMvcController.java
  src/main/java/com/capstone/moa/controller/GroupMvcController.java
  src/main/java/com/capstone/moa/controller/MypageMvcController.java
  src/main/java/com/capstone/moa/controller/PostMvcController.java
  src/main/java/com/capstone/moa/controller/api/LinkController.java
  src/main/java/com/capstone/moa/entity/Group.java
  src/main/java/com/capstone/moa/entity/Issue.java
  src/main/java/com/capstone/moa/entity/Link.java
  src/main/java/com/capstone/moa/service/AuthService.java
  src/main/java/com/capstone/moa/service/GroupService.java
  src/main/java/com/capstone/moa/service/LinkService.java
  src/main/resources/static/css/join.css
  src/main/resources/templates/auth/join.html
  src/main/resources/templates/group/group_intro.html
  src/main/resources/templates/mypage/mypage_group.html
  src/main/resources/templates/mypage/mypage_group_write.html
Labels: feature, refactor, be, fe, group, link, auth

#120 Feat : 그룹 오프라인 모임 장소 등록/조회 기능 구현
  src/main/java/com/capstone/moa/controller/AddressMvcController.java
  src/main/java/com/capstone/moa/dto/CreateAddressRequest.java
  src/main/java/com/capstone/moa/dto/FindAddressResponse.java
  src/main/java/com/capstone/moa/entity/Address.java
  src/main/java/com/capstone/moa/entity/Group.java
  src/main/java/com/capstone/moa/repository/AddressRepository.java
  src/main/java/com/capstone/moa/service/AddressService.java
  src/main/resources/static/css/group_address.css
  src/main/resources/static/css/group_intro.css
  src/main/resources/templates/group/group_address.html
  src/main/resources/templates/group/group_address_write.html
  src/main/resources/templates/group/group_intro.html
Labels: feature, be, fe, group, address

#121 회원가입, 그룹, 마이페이지, 팀원모집 게시판 front 수정
  src/main/resources/static/css/calendar.css
  src/main/resources/static/css/group_address.css
  src/main/resources/static/css/group_address_write.css
  src/main/resources/static/css/group_intro.css
  src/main/resources/static/css/group_management_file.css
  src/main/resources/static/css/group_management_issue.css
  src/main/resources/static/css/header.css
  src/main/resources/static/css/issue_view.css
  src/main/resources/static/css/join.css
  src/main/resources/static/css/mypage_activity.css
  src/main/resources/static/css/mypage_group.css
  src/main/resources/static/css/mypage_modify.css
  src/main/resources/static/css/team.css
  src/main/resources/static/css/write.css
  src/main/resources/templates/auth/join.html
  src/main/resources/templates/group/calendar.html
  src/main/resources/templates/group/group_address.html
  src/main/resources/templates/group/group_address_write.html
  src/main/resources/templates/group/group_intro.html
  src/main/resources/templates/group/group_intro_modify.html
  src/main/resources/templates/group/group_issue_view.html
  src/main/resources/templates/group/group_management_file.html
  src/main/resources/templates/group/group_management_issue.html
  src/main/resources/templates/group/group_notice.html
  src/main/resources/templates/mypage/mypage_activity.html
  src/main/resources/templates/mypage/mypage_group.html
  src/main/resources/templates/post/team.html
  src/main/resources/templates/post/write.html
Labels: fe, post, member, group, address

#123 Feat : 이슈 상세페이지 연동, 이슈 삭제 기능 구현
  src/main/java/com/capstone/moa/controller/ProjectMvcController.java
  src/main/java/com/capstone/moa/dto/FindIssueResponse.java
  src/main/java/com/capstone/moa/service/IssueService.java
  src/main/resources/templates/group/group_issue_view.html
  src/main/resources/templates/group/group_management_issue.html
Labels: feature, be, fe, issue

#124 Feat : 지도 띄우기, 팀원 게시판 지역 추가 기능 구현
  src/main/java/com/capstone/moa/controller/PostMvcController.java
  src/main/java/com/capstone/moa/dto/FindGroupMemberResponse.java
  src/main/java/com/capstone/moa/dto/WritePostRequest.java
  src/main/java/com/capstone/moa/entity/Post.java
  src/main/java/com/capstone/moa/entity/enums/Region.java
  src/main/java/com/capstone/moa/service/PostService.java
  src/main/resources/templates/group/group_address.html
  src/main/resources/templates/group/group_intro.html
  src/main/resources/templates/post/write.html
Labels: be, fe, post

#126 그룹페이지, 팀원모집 페이지 수정
  src/main/resources/static/css/calendar.css
  src/main/resources/static/css/group_address.css
  src/main/resources/static/css/group_intro.css
  src/main/resources/static/css/group_intro_modify.css
  src/main/resources/static/css/group_management_file.css
  src/main/resources/static/css/group_management_issue.css
  src/main/resources/static/css/group_notice.css
  src/main/resources/static/css/team.css
  src/main/resources/templates/group/group_address.html
  src/main/resources/templates/group/group_intro_modify.html
  src/main/resources/templates/post/team.html
Labels: refactor, fe, post, group, address

#127 feat : 지역별 조회, 멤버 프로필 이동, 장소 삭제 기능 구현
  src/main/java/com/capstone/moa/controller/AddressMvcController.java
  src/main/java/com/capstone/moa/controller/GroupMvcController.java
  src/main/java/com/capstone/moa/controller/PostMvcController.java
  src/main/java/com/capstone/moa/controller/api/PostController.java
  src/main/java/com/capstone/moa/dto/FindCommentResponse.java
  src/main/java/com/capstone/moa/dto/FindGroupMemberResponse.java
  src/main/java/com/capstone/moa/dto/FindPostResponse.java
  src/main/java/com/capstone/moa/dto/FindPostWithCommentsResponse.java
  src/main/java/com/capstone/moa/dto/FindPostsByConditionRequest.java
  src/main/java/com/capstone/moa/dto/FindPostsByInterestResponse.java
  src/main/java/com/capstone/moa/repository/PostRepositoryCustom.java
  src/main/java/com/capstone/moa/repository/PostRepositoryCustomImpl.java
  src/main/java/com/capstone/moa/service/AddressService.java
  src/main/java/com/capstone/moa/service/GroupService.java
  src/main/java/com/capstone/moa/service/PostService.java
  src/main/resources/templates/group/group_address.html
  src/main/resources/templates/group/group_intro.html
  src/main/resources/templates/mypage/mypage_activity.html
  src/main/resources/templates/mypage/mypage_group.html
  src/main/resources/templates/post/community.html
  src/main/resources/templates/post/main.html
  src/main/resources/templates/post/search.html
  src/main/resources/templates/post/team.html
  src/main/resources/templates/post/view.html
Labels: feature, refactor, be, fe, post, address

#130 Feat : 멤버 프로필 이미지 변경 기능 구현
  src/main/java/com/capstone/moa/config/SecurityConfig.java
  src/main/java/com/capstone/moa/controller/MypageMvcController.java
  src/main/java/com/capstone/moa/dto/FindCommentResponse.java
  src/main/java/com/capstone/moa/dto/FindGroupMemberResponse.java
  src/main/java/com/capstone/moa/dto/FindMemberInfoResponse.java
  src/main/java/com/capstone/moa/dto/FindPostResponse.java
  src/main/java/com/capstone/moa/dto/FindPostWithCommentsResponse.java
  src/main/java/com/capstone/moa/dto/ModifyProfileImageRequest.java
  src/main/java/com/capstone/moa/entity/Member.java
  src/main/java/com/capstone/moa/entity/enums/Profile.java
  src/main/java/com/capstone/moa/service/MemberService.java
  src/main/resources/static/css/community.css
  src/main/resources/static/css/group_intro.css
  src/main/resources/static/css/main.css
  src/main/resources/static/css/mypage_activity.css
  src/main/resources/static/css/mypage_group.css
  src/main/resources/static/css/mypage_modify.css
  src/main/resources/static/css/search.css
  src/main/resources/static/css/team.css
  src/main/resources/static/css/view.css
  src/main/resources/templates/group/group_intro.html
  src/main/resources/templates/mypage/mypage_activity.html
  src/main/resources/templates/mypage/mypage_group.html
  src/main/resources/templates/mypage/mypage_modify.html
  src/main/resources/templates/mypage/mypage_profile_image.html
  src/main/resources/templates/post/community.html
  src/main/resources/templates/post/main.html
  src/main/resources/templates/post/search.html
  src/main/resources/templates/post/team.html
  src/main/resources/templates/post/view.html
Labels: be, fe, member, auth

#131 Front 수정
  src/main/resources/static/css/group_intro.css
  src/main/resources/static/css/group_intro_modify.css
  src/main/resources/static/css/group_management_issue.css
  src/main/resources/static/css/issue_view.css
  src/main/resources/static/css/join.css
  src/main/resources/static/images/profile_1.png
  src/main/resources/templates/group/group_intro.html
  src/main/resources/templates/group/group_intro_modify.html
  src/main/resources/templates/group/group_issue_view.html
  src/main/resources/templates/group/group_management_issue.html
  src/main/resources/templates/mypage/mypage_activity.html
  src/main/resources/templates/mypage/mypage_group.html
Labels: refactor, fe, issue

#132 group_issue Front 수정
  src/main/resources/static/css/group_management_issue.css
  src/main/resources/static/css/issue_view.css
  src/main/resources/templates/group/group_management_issue.html
Labels: fe, issue
