Repository capstone-moa/moa, pull requests merged in 2023-06, with the labels that each got.

#27 게시물에 대한 댓글 목록 조회 API 구현
  build.gradle
  src/main/java/com/capstone/moa/controller/CommentController.java
  src/main/java/com/capstone/moa/controller/PostController.java
  src/main/java/com/capstone/moa/dto/FindCommentResponse.java
  src/main/java/com/capstone/moa/dto/FindPostWithCommentsResponse.java
  src/main/java/com/capstone/moa/dto/ModifyCommentRequest.java
  src/main/java/com/capstone/moa/dto/ModifyPostRequest.java
  src/main/java/com/capstone/moa/dto/WriteCommentRequest.java
  src/main/java/com/capstone/moa/dto/WritePostRequest.java
  src/main/java/com/capstone/moa/entity/Comment.java
  src/main/java/com/capstone/moa/entity/Member.java
  src/main/java/com/capstone/moa/entity/Post.java
  src/main/java/com/capstone/moa/repository/MemberRepository.java
  src/main/java/com/capstone/moa/service/CommentService.java
  src/main/java/com/capstone/moa/service/PostService.java
Labels: be, post, comment

#31 메인, 커뮤니티, 팀 게시판 내부 위치 조정
  src/main/resources/application.yml
  src/main/resources/static/css/community.css
  src/main/resources/static/css/main.css
  src/main/resources/static/css/team.css
  src/main/resources/templates/post/community.html
  src/main/resources/templates/post/main.html
  src/main/resources/templates/post/team.html
Labels: fe

#35 feat : 게시글 조회 페이지 추가
  src/main/resources/static/css/view.css
  src/main/resources/templates/post/view.html
Labels: fe, post

#39 그룹을 생성하는 API 구현
  src/main/java/com/capstone/moa/controller/GroupController.java
  src/main/java/com/capstone/moa/dto/CreateGroupRequest.java
  src/main/java/com/capstone/moa/entity/Group.java
  src/main/java/com/capstone/moa/entity/GroupMember.java
  src/main/java/com/capstone/moa/entity/GroupRole.java
  src/main/java/com/capstone/moa/entity/Member.java
  src/main/java/com/capstone/moa/repository/GroupRepository.java
  src/main/java/com/capstone/moa/service/GroupService.java
Labels: feature, be, group

#41 그룹을 수정하는 api 구현
  src/main/java/com/capstone/moa/controller/GroupController.java
  src/main/java/com/capstone/moa/dto/ModifyGroupRequest.java
  src/main/java/com/capstone/moa/entity/Group.java
  src/main/java/com/capstone/moa/entity/GroupMember.java
  src/main/java/com/capstone/moa/repository/GroupMemberRepository.java
  src/main/java/com/capstone/moa/service/GroupService.java
Labels: feature, be, group

#43 그룹을 삭제하는 API 구현
  src/main/java/com/capstone/moa/controller/GroupController.java
  src/main/java/com/capstone/moa/service/GroupService.java
Labels: feature, be, group

#45 마이페이지(활동내역, 그룹관리), 그룹 소개페이지 구현
  src/main/resources/static/css/group_intro.css
  src/main/resources/static/css/group_intro_modify.css
  src/main/resources/static/css/mypage_activity.css
  src/main/resources/static/css/mypage_group.css
  src/main/resources/static/images/backimage.png
  src/main/resources/templates/post/group_intro.html
  src/main/resources/templates/post/group_intro_modify.html
  src/main/resources/templates/post/mypage_activity.html
  src/main/resources/templates/post/mypage_group.html
Labels: fe, group
