Repository capstone-moa/moa, pull requests merged in 2023-05, with the labels that each got.

#2 게시판 기능을 위한 post, memebr entity 생성
  src/main/java/com/capstone/moa/Interest.java
  src/main/java/com/capstone/moa/Job.java
  src/main/java/com/capstone/moa/Member.java
  src/main/java/com/capstone/moa/MoaApplication.java
  src/main/java/com/capstone/moa/Post.java
  src/test/java/com/capstone/moa/MoaApplicationTests.java
Labels: feature, be, post, member

#5 생성, 수정 시각을 기록하는 entity 구현
  src/main/java/com/capstone/moa/BaseTimeEntity.java
  src/main/java/com/capstone/moa/MoaApplication.java
  src/main/java/com/capstone/moa/Post.java
Labels: feature, be

#24 feat : 댓글을 수정하는 기능 구현
  src/main/java/com/capstone/moa/controller/CommentController.java
  src/main/java/com/capstone/moa/dto/ModifyCommentRequest.java
  src/main/java/com/capstone/moa/entity/Comment.java
  src/main/java/com/capstone/moa/service/CommentService.java
Labels: be, comment
