Repository capstone-moa/moa, pull requests merged in 2023-07, with the labels that each got.

#49 회원 별 그룹 초대 목록 조회, 초대 수락, 초대 거절 기능 구현
  src/main/java/com/capstone/moa/controller/GroupController.java
  src/main/java/com/capstone/moa/controller/InvitationController.java
  src/main/java/com/capstone/moa/dto/FindInvitationResponse.java
  src/main/java/com/capstone/moa/dto/InviteGroupRequest.java
  src/main/java/com/capstone/moa/entity/Group.java
  src/main/java/com/capstone/moa/entity/Invitation.java
  src/main/java/com/capstone/moa/entity/Member.java
  src/main/java/com/capstone/moa/repository/InvitationRepository.java
  src/main/java/com/capstone/moa/repository/InviteRepository.java
  src/main/java/com/capstone/moa/service/GroupService.java
  src/main/java/com/capstone/moa/service/InvitationService.java
Labels: feature, be, invite

#51 그룹 소개 조회 API 구현
  src/main/java/com/capstone/moa/controller/GroupController.java
  src/main/java/com/capstone/moa/dto/FindGroupMemberResponse.java
  src/main/java/com/capstone/moa/dto/GroupIntroResponse.java
  src/main/java/com/capstone/moa/service/GroupService.java
Labels: feature, be, group

#55 커뮤니티, 팀 페이지 좌측 카테고리 수정
  src/main/resources/static/css/community.css
  src/main/resources/static/css/group_intro.css
  src/main/resources/static/css/team.css
  src/main/resources/static/css/view.css
Labels: refactor, fe

#58 그룹 소개 수정 기능 연동 구현
  src/main/java/com/capstone/moa/MoaApplication.java
  src/main/java/com/capstone/moa/controller/GroupController.java
  src/main/java/com/capstone/moa/controller/GroupMvcController.java
  src/main/java/com/capstone/moa/dto/GroupIntroResponse.java
  src/main/java/com/capstone/moa/dto/ModifyGroupInfoRequest.java
  src/main/java/com/capstone/moa/dto/ModifyGroupIntroRequest.java
  src/main/java/com/capstone/moa/entity/Group.java
  src/main/java/com/capstone/moa/service/GroupService.java
  src/main/resources/application.yml
  src/main/resources/templates/group/group_intro.html
  src/main/resources/templates/group/group_intro_modify.html
  src/main/resources/templates/post/group_intro_modify.html
Labels: feature, be, fe, group

#60 마이페이지 조회 MVC 구현
  src/main/java/com/capstone/moa/controller/GroupController.java
  src/main/java/com/capstone/moa/controller/InvitationController.java
  src/main/java/com/capstone/moa/controller/MemberMvcController.java
  src/main/java/com/capstone/moa/dto/FindGroupByMemberIdResponse.java
  src/main/java/com/capstone/moa/dto/FindGroupMemberResponse.java
  src/main/java/com/capstone/moa/dto/FindMemberByIdResponse.java
  src/main/java/com/capstone/moa/entity/Group.java
  src/main/java/com/capstone/moa/entity/Invitation.java
  src/main/java/com/capstone/moa/entity/InviteStatus.java
  src/main/java/com/capstone/moa/repository/GroupMemberRepository.java
  src/main/java/com/capstone/moa/repository/PostRepository.java
  src/main/java/com/capstone/moa/service/GroupService.java
  src/main/java/com/capstone/moa/service/InvitationService.java
  src/main/java/com/capstone/moa/service/MemberService.java
  src/main/java/com/capstone/moa/service/PostService.java
  src/main/resources/static/css/mypage_activity.css
  src/main/resources/templates/group/group_intro.html
  src/main/resources/templates/member/mypage_activity.html
  src/main/resources/templates/member/mypage_group.html
Labels: be, fe, member, group

#64 그룹 초대 요청 수락, 거절 MVC 구현
  src/main/java/com/capstone/moa/controller/MemberMvcController.java
  src/main/resources/templates/member/mypage_activity.html
  src/main/resources/templates/member/mypage_group.html
Labels: feature, be, fe, invite

#66 그룹 추방 MVC 구현
  src/main/java/com/capstone/moa/controller/GroupController.java
  src/main/java/com/capstone/moa/controller/InvitationController.java
  src/main/java/com/capstone/moa/controller/MemberMvcController.java
  src/main/java/com/capstone/moa/dto/FindGroupByLeaderMemberIdResponse.java
  src/main/java/com/capstone/moa/repository/GroupMemberRepository.java
  src/main/java/com/capstone/moa/repository/InvitationRepository.java
  src/main/java/com/capstone/moa/service/GroupService.java
  src/main/java/com/capstone/moa/service/InvitationService.java
  src/main/resources/templates/member/mypage_group.html
Labels: feature, be, fe, invite

#69 마이페이지 활동, 그룹관리 왼쪽 카테고리 front 수정
  src/main/resources/static/css/mypage_activity.css
  src/main/resources/static/css/mypage_group.css
Labels: refactor, fe

#70 그룹 공지 등록/삭제 API 구현
  src/main/java/com/capstone/moa/controller/api/CommentController.java
  src/main/java/com/capstone/moa/controller/api/GroupController.java
  src/main/java/com/capstone/moa/controller/api/InvitationController.java
  src/main/java/com/capstone/moa/controller/api/NoticeController.java
  src/main/java/com/capstone/moa/controller/api/PostController.java
  src/main/java/com/capstone/moa/dto/WriteNoticeRequest.java
  src/main/java/com/capstone/moa/entity/Notice.java
  src/main/java/com/capstone/moa/repository/NoticeRepository.java
  src/main/java/com/capstone/moa/service/NoticeService.java
Labels: feature, be, notice

#72 댓글 작성 기능 MVC 구현, 마이페이지 그룹 카테고리 수정
  src/main/java/com/capstone/moa/controller/CommentMvcController.java
  src/main/java/com/capstone/moa/controller/MemberMvcController.java
  src/main/java/com/capstone/moa/controller/PostMvcController.java
  src/main/java/com/capstone/moa/dto/FindGroupsByMemberIdResponse.java
  src/main/java/com/capstone/moa/repository/GroupMemberRepository.java
  src/main/java/com/capstone/moa/service/GroupService.java
  src/main/resources/templates/mypage/mypage_activity.html
  src/main/resources/templates/mypage/mypage_group.html
  src/main/resources/templates/post/view.html
Labels: feature, refactor, be, fe, comment

#74 링크 등록/수정 API 구현
  src/main/java/com/capstone/moa/controller/GroupMvcController.java
  src/main/java/com/capstone/moa/controller/MemberMvcController.java
  src/main/java/com/capstone/moa/controller/PostMvcController.java
  src/main/java/com/capstone/moa/controller/api/LinkController.java
  src/main/java/com/capstone/moa/dto/FindPostsByInterestResponse.java
  src/main/java/com/capstone/moa/entity/Group.java
  src/main/java/com/capstone/moa/entity/GroupMember.java
  src/main/java/com/capstone/moa/entity/Invitation.java
  src/main/java/com/capstone/moa/entity/Link.java
  src/main/java/com/capstone/moa/entity/Member.java
  src/main/java/com/capstone/moa/entity/Post.java
  src/main/java/com/capstone/moa/entity/enums/GroupRole.java
  src/main/java/com/capstone/moa/entity/enums/Interest.java
  src/main/java/com/capstone/moa/entity/enums/InviteStatus.java
  src/main/java/com/capstone/moa/entity/enums/Job.java
  src/main/java/com/capstone/moa/entity/enums/PostType.java
  src/main/java/com/capstone/moa/repository/GroupMemberRepository.java
  src/main/java/com/capstone/moa/repository/InvitationRepository.java
  src/main/java/com/capstone/moa/repository/LinkRepository.java
  src/main/java/com/capstone/moa/repository/PostRepository.java
  src/main/java/com/capstone/moa/service/GroupService.java
  src/main/java/com/capstone/moa/service/InvitationService.java
  src/main/java/com/capstone/moa/service/LinkService.java
  src/main/java/com/capstone/moa/service/PostService.java
  src/main/resources/templates/post/view.html
Labels: feature, be, link

#77 그룹 프로젝트 관리 페이지 수정 및 추가
  src/main/resources/static/css/group_intro.css
  src/main/resources/static/css/group_intro_modify.css
  src/main/resources/templates/group/group_intro.html
  src/main/resources/templates/group/group_intro_modify.html
  src/main/resources/templates/mypage/mypage_group.html
Labels: refactor

#79 그룹 생성 MVC, 그룹 공지 조회 API&MVC 구현
  src/main/java/com/capstone/moa/controller/MypageMvcController.java
  src/main/java/com/capstone/moa/controller/NoticeMvcController.java
  src/main/java/com/capstone/moa/controller/api/NoticeController.java
  src/main/java/com/capstone/moa/dto/CreateGroupRequest.java
  src/main/java/com/capstone/moa/dto/FindNoticeByGroupIdResponse.java
  src/main/java/com/capstone/moa/entity/Group.java
  src/main/java/com/capstone/moa/entity/Member.java
  src/main/java/com/capstone/moa/repository/NoticeRepository.java
  src/main/java/com/capstone/moa/service/NoticeService.java
  src/main/resources/templates/group/group_intro.html
  src/main/resources/templates/group/group_notice.html
  src/main/resources/templates/mypage/mypage_group.html
  src/main/resources/templates/mypage/mypage_group_write.html
Labels: be, fe, group, notice

#81 그룹 초대 MVC 구현
  src/main/java/com/capstone/moa/controller/MypageMvcController.java
  src/main/java/com/capstone/moa/dto/InviteGroupRequest.java
  src/main/java/com/capstone/moa/service/InvitationService.java
  src/main/resources/templates/mypage/mypage_group.html
Labels: feature, refactor, be, fe, invite
