Repository capstone-moa/moa, pull requests merged in 2023-10, with the labels that each got.

#134 fix : 회원 가입, 삭제 오류 수정
  src/main/java/com/capstone/moa/config/SecurityConfig.java
  src/main/resources/templates/group/group_management_file.html
  src/main/resources/templates/group/group_management_issue.html
  src/main/resources/templates/group/group_notice.html
  src/main/resources/templates/mypage/mypage_group.html
Labels: bugfix, be, group, notice, auth, issue, report file

#136 Front 수정
  src/main/java/com/capstone/moa/controller/GroupMvcController.java
  src/main/resources/static/css/community.css
  src/main/resources/static/css/group_intro_modify.css
  src/main/resources/static/css/grouplist.css
  src/main/resources/static/css/header.css
  src/main/resources/static/css/team.css
  src/main/resources/templates/common/header.html
  src/main/resources/templates/group/group_intro_modify.html
  src/main/resources/templates/group/grouplist.html
  src/main/resources/templates/post/community.html
  src/main/resources/templates/post/team.html
Labels: refactor, fe, group

#137 Feat : 그룹 프로필 등록 기능, 그룹 목록 조회 기능 구현
  src/main/java/com/capstone/moa/controller/AddressMvcController.java
  src/main/java/com/capstone/moa/controller/CalendarMvcController.java
  src/main/java/com/capstone/moa/controller/GroupMvcController.java
  src/main/java/com/capstone/moa/controller/MypageMvcController.java
  src/main/java/com/capstone/moa/controller/NoticeMvcController.java
  src/main/java/com/capstone/moa/controller/ProjectMvcController.java
  src/main/java/com/capstone/moa/dto/FindGroupsByMemberIdResponse.java
  src/main/java/com/capstone/moa/dto/FindGroupsForListResponse.java
  src/main/java/com/capstone/moa/entity/Group.java
  src/main/java/com/capstone/moa/entity/GroupProfile.java
  src/main/java/com/capstone/moa/repository/GroupMemberRepository.java
  src/main/java/com/capstone/moa/repository/GroupProfileRepository.java
  src/main/java/com/capstone/moa/repository/GroupRepository.java
  src/main/java/com/capstone/moa/service/GroupProfileService.java
  src/main/java/com/capstone/moa/service/GroupService.java
  src/main/java/com/capstone/moa/utils/ImageUtils.java
  src/main/resources/static/css/calendar.css
  src/main/resources/static/css/group_address.css
  src/main/resources/static/css/group_intro.css
  src/main/resources/static/css/group_intro_modify.css
  src/main/resources/static/css/group_management_file.css
  src/main/resources/static/css/group_management_issue.css
  src/main/resources/static/css/group_notice.css
  src/main/resources/static/css/group_profile_upload.css
  src/main/resources/templates/group/calendar.html
  src/main/resources/templates/group/group_address.html
  src/main/resources/templates/group/group_intro.html
  src/main/resources/templates/group/group_intro_modify.html
  src/main/resources/templates/group/group_management_file.html
  src/main/resources/templates/group/group_management_issue.html
  src/main/resources/templates/group/group_notice.html
  src/main/resources/templates/group/group_profile_upload.html
  src/main/resources/templates/group/grouplist.html
  src/main/resources/templates/mypage/mypage_group.html
Labels: feature, be, fe, group

#138 Feat : 그룹 이미지 삭제&조회 기능 구현
  src/main/java/com/capstone/moa/controller/GroupMvcController.java
  src/main/java/com/capstone/moa/dto/FindGroupsForListResponse.java
  src/main/java/com/capstone/moa/repository/GroupProfileRepository.java
  src/main/java/com/capstone/moa/service/GroupProfileService.java
  src/main/java/com/capstone/moa/service/GroupService.java
  src/main/resources/static/css/calendar.css
  src/main/resources/static/css/group_address.css
  src/main/resources/static/css/group_intro.css
  src/main/resources/static/css/group_management_file.css
  src/main/resources/static/css/group_management_issue.css
  src/main/resources/static/css/group_notice.css
  src/main/resources/static/images/group.png
  src/main/resources/templates/group/calendar.html
  src/main/resources/templates/group/group_address.html
  src/main/resources/templates/group/group_intro.html
  src/main/resources/templates/group/group_intro_modify.html
  src/main/resources/templates/group/group_management_file.html
  src/main/resources/templates/group/group_management_issue.html
  src/main/resources/templates/group/group_notice.html
  src/main/resources/templates/group/grouplist.html
Labels: be, fe, group

#139 Front 수정
  src/main/resources/static/css/community.css
  src/main/resources/static/css/group_intro.css
  src/main/resources/static/css/group_intro_modify.css
  src/main/resources/static/css/grouplist.css
  src/main/resources/static/css/team.css
  src/main/resources/templates/common/header.html
  src/main/resources/templates/group/group_intro.html
  src/main/resources/templates/group/group_intro_modify.html
  src/main/resources/templates/group/grouplist.html
Labels: fe

#140 Refactor : 페이징 관련 오류 수정 + 페이징 구현
  src/main/java/com/capstone/moa/controller/GroupMvcController.java
  src/main/java/com/capstone/moa/controller/MypageMvcController.java
  src/main/java/com/capstone/moa/controller/ProjectMvcController.java
  src/main/java/com/capstone/moa/entity/Group.java
  src/main/java/com/capstone/moa/entity/ReportFile.java
  src/main/java/com/capstone/moa/repository/IssueRepository.java
  src/main/java/com/capstone/moa/repository/IssueRepositoryCustom.java
  src/main/java/com/capstone/moa/repository/IssueRepositoryCustomImpl.java
  src/main/java/com/capstone/moa/repository/PostRepository.java
  src/main/java/com/capstone/moa/repository/PostRepositoryCustom.java
  src/main/java/com/capstone/moa/repository/PostRepositoryCustomImpl.java
  src/main/java/com/capstone/moa/repository/ReportFileRepository.java
  src/main/java/com/capstone/moa/repository/ReportFileRepositoryCustom.java
  src/main/java/com/capstone/moa/repository/ReportFileRepositoryCustomImpl.java
  src/main/java/com/capstone/moa/service/IssueService.java
  src/main/java/com/capstone/moa/service/PostService.java
  src/main/java/com/capstone/moa/service/ReportFileService.java
  src/main/resources/static/css/group_management_file.css
  src/main/resources/static/css/group_management_issue.css
  src/main/resources/static/css/grouplist.css
  src/main/resources/static/css/mypage_activity.css
  src/main/resources/templates/common/header.html
  src/main/resources/templates/group/group_management_file.html
  src/main/resources/templates/group/group_management_issue.html
  src/main/resources/templates/group/group_profile_upload.html
  src/main/resources/templates/group/grouplist.html
  src/main/resources/templates/mypage/mypage_activity.html
  src/main/resources/templates/post/community.html
  src/main/resources/templates/post/team.html
Labels: refactor, post, group, report file
